body {
    font-family: 'Lato', sans-serif;
    color: #191919;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

/* -- Background and Text Color : Start -- */
.color-1 {
    color: #D06129;
}

.bg-color-1 {
    background-color: #D06129;
}

.bg-color-2 {
    background-color: #dad6d6;
}

.bg-color-3 {
    background-color: #191919;
}

/* -- Background and Text Color : End -- */

/* -- Style CSS For Button : Start -- */
.btn-primary-brown {
    background-color: #D06129;
    color: #ffffff;
}

.btn-primary-brown:hover {
    filter: brightness(80%);
}

.btn-primary-white {
    background-color: #ffffff;
    color: #D06129;
}

.btn-primary-white:hover {
    filter: brightness(80%);
}

.btn-primary-black {
    background-color: #000000;
    color: #ffffff;
}

.btn-primary-black:hover {
    filter: brightness(80%);
}

/* -- Style CSS For Button : End -- */

/* == Page - Index.html : Start == */
/* -- Homepage - Navbar : Start -- */
.navbar {
    background-color: #D06129;
    padding: 18px 10px 18px 10px;
}

#navbar .nav-link {
    color: white !important;
    font-weight: 700;
}

.navbar-dropdown-menu, .dropdown-menu, .dropdown-item {
    border: 0;
    background-color: #D06129;
    color: #ffffff;
    font-weight: 700;
}

.navbar-dropdown-menu .dropdown-menu, .dropdown-item:hover {
    background-color: #ffffff;
    color: #D06129;
}

.navbar-dropdown-menu .dropdown-menu {
    margin-top: 0;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    .navbar {
        background-color: transparent;
        transition: 0.3s ease-out;
        padding: 26px 0px 25px 0px;
    }

    .navbar-active {
        background-color: #D06129;
        transition: 0.3s ease-in;
    }

    #navbar .nav-link {
        padding: 0px 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* -- Homepage - Navbar : End */

/* -- Homepage - Jumbotron : Start -- */
#homepage-jumbotron {
    height: 650px;
    position: relative;
    background-image: url('../images/jumbotron/bg-jumbotron-homepage.jpg');
    background-size: cover;
    background-position: center;
}

#homepage-jumbotron::after {
    content: "";
    background-color: rgba(6, 7, 15, 0.37);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100% !important;
}

#homepage-jumbotron .content {
    position: relative;
    z-index: 1;
    padding-top: 150px;
}

#homepage-jumbotron .logo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#homepage-jumbotron .btn-contact-us {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 700;
    color: #D06129;
}

#homepage-jumbotron-info-panel .content {
    position: absolute;
    margin-top: -110px;
    width: 100%;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #homepage-jumbotron-info-panel .separator {
        border-left: 2px solid #808080;
    }

    #homepage-jumbotron-info-panel .separator::after {
        border-bottom: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* -- Homepage - Jumbotron : End -- */

/* -- Homepage - Jumbotron Info Panel : Start -- */
#homepage-jumbotron-info-panel-2 {
    margin-top: -7.5rem;
}

#homepage-jumbotron-info-panel-2 svg {
    width: 60px;
    height: 60px;
}

#homepage-jumbotron-info-panel-2 div.no-gutters.row>div:hover {
    background: #d06129;
}

#homepage-jumbotron-info-panel-2 div.no-gutters.row::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000004a;
    z-index: -1;
    transform: scaleX(1.01) scaleY(1);
    filter: blur(10px);
}

/* #homepage-jumbotron-info-panel-2 div.no-gutters.row > div > div {
  background: white;
} */

#homepage-jumbotron-info-panel-2 div.no-gutters.row>div>div {
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
    color: #d06129;
    font-weight: bold;
    background: white;
}

#homepage-jumbotron-info-panel-2 div.no-gutters.row>div:hover>div {
    box-shadow: none;
    color: white;
    background: none;
}

#homepage-jumbotron-info-panel-2 div.no-gutters.row>div:hover>div>svg>g {
    fill: white;
}

#homepage-jumbotron-info-panel-2 div.no-gutters.row.position-relative>div>#item::after {
    content: "";
    height: 10.7rem;
    width: 1px;
    position: absolute;
    background: #00000047;
    right: -0.01rem;
    z-index: 3;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #homepage-jumbotron-info-panel-2 div.no-gutters.row.position-relative>div>#item::after {
        content: "";
        height: 7.5rem;
        width: 1px;
        position: absolute;
        background: #00000047;
        right: -0.01rem;
        z-index: 3;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #homepage-jumbotron-info-panel-2 div.no-gutters.row::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000004a;
        z-index: -1;
        transform: scaleX(1.01) scaleY(0.9);
        filter: blur(10px);
    }

    #homepage-jumbotron-info-panel-2 div.no-gutters.row.position-relative>div>#item::after {
        content: "";
        height: 10.5rem;
        width: 0.1rem;
        position: absolute;
        background: #00000047;
        right: -0.01rem;
        z-index: 3;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #homepage-jumbotron-info-panel-2 div.no-gutters.row.position-relative>div>#item::after {
        content: "";
        height: 7.5rem;
        width: 0.1rem;
        position: absolute;
        background: #00000047;
        right: -0.01rem;
        z-index: 3;
    }
}
/* -- Homepage - Jumbotron Info Panel : End -- */

/* -- Homepage - Homepage Slider : Start -- */
#homepage-slider {
    padding-top: 20px;
}

#homepage-slider img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

#homepage-slider .splide__arrow {
    background-color: #D06129;
    color: #ffffff;
    opacity: 100;
    width: 45px;
    height: 45px;
    font-size: 30px;
    display: flex;
}

#homepage-slider .splide__arrow--prev {
     margin-left: -40px;
 }

 #homepage-slider .splide__arrow--next {
     margin-right: -40px;
 }

#homepage-slider .card {
    border: 0;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 0;
}

#homepage-slider .text-wrapper {
    top: 4px;
}

#homepage-slider .list-item {
    padding-left: inherit;
}

#homepage-slider .list-item li {
    list-style: none;
}

#homepage-slider .list-item li:before {
    /* For a round bullet */
    content: '\2022';
    /* For a square bullet */
    /*content:'\25A0';*/
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -15px;
    top: -5px;
    color: #D06129;
    font-size: 20px;
}

#homepage-slider .text-wrapper p {
    margin-bottom: 0;
}

 #homepage-slider a {
     color: #191919;
 }

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #homepage-slider img {
        height: 640px;
    }

    #homepage-slider .text-wrapper {
        top: 30px;
        right: 25px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #homepage-slider {
        padding-top: 100px;
    }

     #homepage-slider img {
         height: 500px;
     }

    #homepage-slider .splide__arrow {
        background-color: #D06129;
        color: #ffffff;
        opacity: 100;
        width: 45px;
        height: 45px;
        font-size: 30px;
        display: flex;
    }

    #homepage-slider .splide__arrow--prev {
        margin-left: -85px;
    }

    #homepage-slider .splide__arrow--next {
        margin-right: -85px;
    }

    #homepage-slider .card {
        width: 500px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* -- Homepage - Homepage Slider : End --  */

/* -- Homepage - Why Choose Us : Start -- */
#why-choose-us .image {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/* -- Homepage - Why Choose Us : End -- */

/* -- Homepage - Track : Start -- */
#why-choose-us #track #track-item:hover p {
    color: #d06129;
    font-weight: bold;
}

#why-choose-us #track #track-item:hover #dot {
    background: #d06129;
    z-index: 1;
}

#why-choose-us #track #track-item:hover #dot-border {
    border: 1px solid #d06129;
}

#why-choose-us #track {
    color: #00000099;
    font-size: 16px;
}

#why-choose-us #track #dot {
    width: 1rem;
    height: 1rem;
    background: #c1c1c1;
    border-radius: 100%;
}

#why-choose-us #track #dot-active {
    width: 1rem;
    height: 1rem;
    background: #d06129;
    border-radius: 100%;
    z-index: 2;
}

#why-choose-us #track #dot-border {
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 100%;
    z-index: 2;
    border: 1px solid transparent;
    /* border: 1px solid #d06129; */
    position: absolute;
    bottom: -2px;
    left: -2px;
}

#why-choose-us #track #line {
    /* width: 10rem;
  height: 0.5rem;
  background: #c1c1c1;
  position: absolute;
  right: -5rem;
  bottom: 4px; */
    width: 5px;
    height: 100%;
    background: #c1c1c1;
    position: absolute;
    left: 13.5px;
    bottom: -8px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #why-choose-us #track {
        color: #00000099;
        font-size: 13px;
    }

    #why-choose-us #track #line {
        width: 9rem;
        height: 0.5rem;
        background: #c1c1c1;
        position: absolute;
        right: -4.5rem;
        left: unset;
        bottom: 4px;
    }

    #why-choose-us #track #dot-border {
        width: 20px;
        height: 20px;
        background: transparent;
        border-radius: 100%;
        z-index: 2;
        border: 1px solid transparent;
        /* border: 1px solid #d06129; */
        position: absolute;
        bottom: -2px;
        left: -2px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #why-choose-us #track #line {
        width: 10rem;
        height: 0.5rem;
        background: #c1c1c1;
        position: absolute;
        right: -5rem;
        left: unset;
        bottom: 4px;
    }

    /* #why-choose-us #track #dot-border {
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 100%;
    z-index: 2;
    border: 1px solid transparent;
    border: 1px solid #d06129;
    position: absolute;
    bottom: -2px;
    left: 44%;
  }  */
}

/* -- Homepage - Track : End */

/* -- Homepage - List certification : Start --  */
#list-certification .certification-wrapper {
    margin-top: 2.5rem;
}

#list-certification .certification-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#list-certification .certification-name {
    text-decoration: none;
    font-size: 22px;
    color: #D06129;
    font-weight: bold;
}

#list-certification .certification-desc {
    font-size: 15px;
}

#list-certification .btn-read-more {
    font-size: 32px;
    color: #D06129;
    box-shadow: none;
    padding: 0;
}

#list-certification .btn-wrapper {
    margin-top: 10px;
}

/* Services - Splide List Certification : Start */
#splide-list-certification-slider .splide__arrow {
    background-color: #D06129;
    color: #ffffff;
    opacity: 100;
    width: 45px;
    height: 45px;
    font-size: 30px;
    display: flex;
}

#splide-list-certification-slider .splide__arrow--prev {
    margin-left: -40px;
}

#splide-list-certification-slider .splide__arrow--next {
    margin-right: -40px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #splide-list-certification-slider .splide__arrow--prev {
        margin-left: -85px;
    }

    #splide-list-certification-slider .splide__arrow--next {
        margin-right: -85px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Services - Splide List Certification : End */

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #list-certification .btn-read-more {
        position: absolute;
        bottom: 0;
    }

    #list-certification .btn-wrapper {
        margin-top: 60px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* -- Homepage - List certification : End -- */

/* -- Homepage - Homepage Training : Start -- */
#homepage-training {
    background-image: url('../images/mss-logo/mss-logo-transparent-lg.png');
    background-size: 60%;
    background-position: right;
    background-repeat: no-repeat;
}

#homepage-training .box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

#homepage-training .box {
    color: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 10px;
    box-shadow: none;
    padding: 15px;
}

#homepage-training .box {
    margin-top: 15px;
}

#homepage-training .box:hover {
    background-color: #ffffff;
    color: #D06129;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #homepage-training {
        background-size: 40%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #homepage-training {
        background-size: 20%;
    }

    #homepage-training .box {
        padding: 10px;
        margin-top: 0px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #homepage-training .box {
        padding: 15px;
    }
}

/* -- Homepage - Homepage Training : End -- */

/* -- Homepage - Our Client : Start -- */
#our-client img {
    width: 220px;
    height: 110px;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: 15px;
}

#splide-our-client-slider .splide__arrow {
    background-color: #D06129;
    color: #ffffff;
    opacity: 100;
    width: 45px;
    height: 45px;
    font-size: 30px;
    display: flex;
}

#splide-our-client-slider .splide__arrow--prev {
    margin-left: -40px;
}

#splide-our-client-slider .splide__arrow--next {
    margin-right: -40px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #splide-our-client-slider .splide__arrow--prev {
        margin-left: -85px;
    }

    #splide-our-client-slider .splide__arrow--next {
        margin-right: -85px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #our-client img {
        margin-top: 0px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* -- Homepage - Our Client : End -- */

/* -- Homepage - Contact Us : Start -- */
/* Contact Us : Start */
#contact-us ul {
    list-style: none;
    padding: 0;
}

#contact-us ul a {
    color: #ffffff;
    text-decoration: none;
}

#contact-us .icon {
    font-size: 19px;
}

#contact-us .form-control {
    background-color: #EB7E46;
    color: #ffffff;
    box-shadow: none;
    border: 1px solid #EB7E46;
    border-radius: 5px;
    text-align: right;
}

#contact-us textarea {
    resize: none;
}

#contact-us .form-control::placeholder {
    color: #ffffff;
}

#contact-us .form-control:focus {
    border-color: #ffffff;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* -- Homepage - Contact Us : End -- */

/* -- Homepage - Footer : Start -- */
#footer .content {
    background-color: #191919;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* -- Homepage - Footer : End -- */
/* == Page - Index.html : End == */

/* == Page - about-us.html : Start == */
#about-us {
    margin-top: 90px;
}

#about-us .card {
    width: 250px;
    border-radius: 5px;
    bottom: 240px;
    left: -1px;
}

#about-us img {
    width: 80%;
    height: 620px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#about-us .mss-logo {
    width: 110px;
    height: 110px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

#about-us ul {
    padding-left: 14px;
}

#about-us ul li {
    list-style: none;
}

#about-us ul li:before {
    content: '\2022';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -15px;
    top: -5px;
    color: #D06129;
    font-size: 20px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #about-us img {
        width: 90%;
        height: 620px;
        object-fit: cover;
        margin: unset;
    }

    #about-us .card {
        width: 250px;
        border-radius: 5px;
        bottom: 225px;
        left: -40px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
/* == Page - about-us.html : End == */

/* == Page - services.html : Start == */

/* -- Services - Jumbotron : Start -- */
#services-jumbotron {
    background-image: url("../images/jumbotron/background.jpg ");
    background-size: cover;
    height: 400px;
    margin-top: 4.7rem;
}

#services-jumbotron h2 {
    z-index: 2;
    text-shadow: 1px 1px 5px #000000;
}

#services-jumbotron::after {
    content: "";
    position: absolute;
    background: #00000036;
    height: 100%;
    width: 100%;
    left: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*  */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*  */
}
/* -- Services - Jumbotron : End -- */

/* == Page - services.html : End == */

/* == Page - check-certificate.html : Start == */
/* check certificate - hero : start */
#check-certificate #hero::after {
    content: "";
    background-color: rgb(255 255 255 / 23%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*  */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*  */
}

/* check certificate - hero : end */

/* check certificate - form : start */
#check-certificate #form button {
    background: #d16129;
    color: white;
}

#check-certificate #form button:hover {
    background: #b94e18;
    color: white;
}

#check-certificate #form #form-content {
    width: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #check-certificate #form #form-content {
        width: 70%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #check-certificate #form #form-content {
        width: 50%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*  */
}

/* check certificate - form : end */

/* == Page - check-certificate.html : End == */

/* == Page - certificate-result.html : Start == */
#page-certificate-result {
    background-color: #F4F5F9;
}

#certificate-check-result .card {
    border-radius: 10px !important;
    width: 100%;
    display: block;
    margin: auto;
    box-shadow: 0px 2px 5px rgb(192, 193, 197, 10);
}

#certificate-check-result .border-start::before {
    content: '';
    border-top: 2px solid #d3d3d3;
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

#certificate-check-result .card-verified {
    border: 1px solid #42ba96;
}

#certificate-check-result .card-suspended {
    border: 1px solid #ffcc00;
}

#certificate-check-result .card-invalid {
    border: 1px solid #ff0e0e;
}

#certificate-check-result .certificate-status.verified {
    color: #42ba96;
}

#certificate-check-result .certificate-status.invalid {
    color: #ff0e0e;
}

#certificate-check-result .certificate-status.suspended {
    color: #ffcc00;
}

#certificate-check-result .certificate-name {
    background-color: #073c79;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #certificate-check-result .card {
        border-radius: 5px !important;
        width: 650px;
        display: block;
        margin: auto;
    }

    #certificate-check-result .border-start::before {
        content: '';
        border-top: 0px;
        display: block;
    }

    #certificate-check-result .border-start {
        border-left: 2px solid #d3d3d3;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
/* == Page - certificate-result.html : End == */

/* == Page - certificate-detail.html : Start == */

/* -- Certificate Detail - Jumbotron : Start -- */
#certification-detail-jumbotron {
    background-image: url('../images/jumbotron/bg-certification-detail.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
/* -- Certificate Detail - Jumbotron : End -- */

/* -- Certificate Detail - Section Certification Detail : Start -- */
#certification-detail ul {
    padding-left: 13px;
}

#certification-detail ul li {
    list-style: none;
}

#certification-detail ul li:before {
    /* For a round bullet */
    content: '\2022';
    /* For a square bullet */
    /*content:'\25A0';*/
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -15px;
    top: -5px;
    color: #D06129;
    font-size: 20px;
}
/* -- Certificate Detail - Section Certification Detail : End -- */

/* -- Certificate Detail - Methodology Chart : Start -- */
#methodology-chart {
    background-image: url('../images/mss-logo/mss-logo-transparent-lg.png');
    background-size: 70%;
    background-position: right;
    background-repeat: no-repeat;
}

#methodology-chart .wrapper h5,
p {
    margin: 0;
}

#methodology-chart h5 {
    font-size: 18px;
    font-weight: 900;
}

#methodology-chart p {
    font-size: 15px;
}

#methodology-chart .wrapper {
    border: 3px solid #ffffff;
    color: #ffffff;
    padding: 15px;
    margin-top: 40px;
}

#methodology-chart .icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #methodology-chart {
        background-size: 40%;
    }

    #methodology-chart .wrapper {
        height: 180px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #methodology-chart {
        background-size: 29%;
    }

    #methodology-chart .wrapper {
        height: unset;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
/* -- Certificate Detail - Methodology Chart : End -- */

/* == Page - certificate-detail.html : End == */

/* == Page - training.html : Start == */
/* -- Training - Jumbotron : Start -- */
#training-jumbotron {
    margin-top: 4.7rem;
    background-image: url("../images/jumbotron/bg-jumbotron-training.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

#training-jumbotron h3 {
    z-index: 1;
    text-shadow: 1px 1px 5px #000000;
    position: relative;
}

#training-jumbotron::after {
    content: "";
    position: absolute;
    background: #00000036;
    height: 100%;
    width: 100%;
    left: 0;
}

/* -- Training - Jumbotron : End -- */

/* -- Training - List Training : Start -- */
#training-list-training .btn p {
    font-weight: 900;
    margin: 0;
}

#training-list-training .btn {
    color: #D06129;
    border: 3px solid #D06129;
    box-shadow: none;
    border-radius: 7px;
    padding: 15px 15px;
    width: 100%;
    margin-top: 15px;
}

#training-list-training .btn:hover {
    background-color: #D06129;
    color: #ffffff;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
/* -- Training - List Training : End -- */

/* -- Training - Training Methodology : Start -- */
#training-methodology img {
    width: 70px;
    margin-bottom: 10px;
}

#training-methodology .wrapper {
    padding-top: 30px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #training-methodology .wrapper {
        padding-top: unset;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
/* -- Training - Training Methodology : End -- */

/* == Page - training.html : End == */

/* == Page - detail-news-page.html : Start == */
/* -- Detail News Page - Jumbotron : Start -- */
#jumbotron-detail-news-page {
    height: 400px;
    background-image: url("../images/homepage/homepage-slider.jpg");
    background-size: cover;
    margin-top: 4.7rem;
    overflow: hidden;
}

#jumbotron-detail-news-page::after {
    content: "";
    position: absolute;
    background: #00000036;
    height: 100%;
    width: 100%;
    left: 0;
}

#jumbotron-detail-news-page h2 {
    z-index: 1;
    row-gap: 0.5rem;
    text-shadow: 1px 1px 5px #000000;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #jumbotron-detail-news-page {
        height: 400px;
        background-image: url("../images/homepage/homepage-slider.jpg");
        background-size: cover;
        margin-top: 6.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #jumbotron-detail-news-page {
        height: 400px;
        background-image: url("../images/homepage/homepage-slider.jpg");
        background-size: cover;
        margin-top: 130px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*  */
}
/* -- Detail News Page - Jumbotron : End -- */

/* -- Detail News Page - News Section : Start -- */
#news-section ul {
    padding-left: 14px;
}

#news-section ul li {
    list-style: none;
}

#news-section ul li:before {
    /* For a round bullet */
    content: '\2022';
    /* For a square bullet */
    /*content:'\25A0';*/
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -15px;
    top: -5px;
    color: #D06129;
    font-size: 20px;
}
/* -- Detail News Page - News Section : End -- */
/* == Page - detail-news-page.html : End == */

